<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="Aries.jpeg">
    <img src="Taurus.jpeg">
    <img src="Gemini.jpeg">
    <img src="Cancer.jpeg">
    <img src="Leo.jpeg">
    <img src="Virgo.jpeg">
    <img src="Libra.jpeg">
    <img src="Scorpio.jpeg">
    <img src="Sagittarius.jpeg">
    <img src="Capricorn.jpeg">
    <img src="Aquarius.jpeg">
    <img src="Pisces.jpeg"> 
    <h2>Choose your Zodiac</h2>
    <ul class="right">
      <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
      <% } %>
      </li>
    </ul>
    <h1><%= title %></h1>
    <p class='title'>Welcome to <%= title %></p>
  </body>
</html>
