body {
  background-color: rgb(104, 97, 82);
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

.signs {
  border: 5px solid rgb(2, 1, 1);
  margin-bottom: 25px;
  border-radius: 30px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

column {
  flex-direction: column;
  display: flex;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: left;
}

.text{
    width: 220px;
    border-radius: 20px;
    padding-bottom: 340px;
    padding-left: 15px;
    padding-top: 15px;
    outline: none;
    font-size: 27px;
    font-family: 'Redressed', cursive;
}

.input {
  margin-top: 13px;
  height: 75px;
  width: 115px;
  border-radius: 5px;
  font-family: 'Cormorant Unicase', serif;
  font-size: 20px;
}

.intro {
  font-family: 'Cormorant Unicase', serif;
  font-size: 47px;
  text-align: center;
}

.name {
  font-family: 'Cormorant Unicase', serif;
  font-size: 50px;
  text-decoration: underline overline #a54040;
  text-align: center;
  margin: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trait {
  font-family: 'Redressed', cursive;
  font-size: 45px;
  text-align: center;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  font-family: 'Cormorant Unicase', serif;
  font-size: 25px;
}

li a:hover:not(.active) {
  background-color: rgb(192, 55, 55);
}

.aries {
  background-color: rgb(185,	74, 62)	;
}
.taurus {
  background-color: rgb(19,	198,	163);
}
.gemini {
  background-color: rgb(74,	84,	105) ;
}
.cancer {
  background-color: rgb(165, 171, 249) ;
}
.leo {
  background-color: rgb(126, 73, 92) ;
}
.virgo {
  background-color: rgb(182, 149,	118) ;
}
.libra {
  background-color: rgb(147, 129, 188) ;
}
.scorpio {
  background-color: rgb(105, 18, 60) ;
  color: grey;
}
.sagittarius {
  background-color: rgb(4, 93, 65) ;
}
.capricorn {
  background-color: rgb(151, 150, 149) ;
}
.aquarius {
  background-color: rgb(41, 181, 186) ;
}
.pisces {
  background-color: rgb(254, 177, 170) ;
}