* {
  background-color: rgb(142, 207, 123);
  
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.img {
  width: 175px;
  height: 175px;
}

.right {
    color: orange;
    
}